.env-message {
  text-align: center;
  line-height: 2;
  color: white;
  font-size: 30px;
  position: fixed;
  top: 76px;
  width: 100%;
  z-index: 5;
}

section {
  padding-top: 60px;
}

.production {
  background-color: red;
}

.staging {
  background-color: orange;
}

.development {
  background-color:limegreen;
}